* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000cc;
    color: #ffffff;
    padding: 10px 30px;
    z-index: 100;
    /* position: relative; */
}
/* .header p {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    margin: 0;
} */

.logo img {
    width: 100px;
    height: 50px;
}

.menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-btn .btn-line {
    width: 30px;
    height: 3px;
    background-color: #ffffffd3;
    margin: 3px 0;
}

/* Style the main navigation container */
.main-nav {
    padding: 10px 0; 
}

/* Style the navigation list */
.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
    list-style: none;
    display: flex;
}

/* Style the navigation items */
.main-nav li {
    display: inline;
    margin-right: 20px; 
}

/* Style the navigation links */
.main-nav a {
    text-decoration: none; 
    color: whitesmoke; 
    font-size: 18px; 
    transition: color 0.3s; 
}

/* Hover effect for navigation links */
.main-nav a:hover {
    color: #ff5733; 
}

.main-nav ul li {
    margin-right: 20px;
}

.main-nav ul li:last-child {
    margin-right: 0;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .menu-btn {
        display: flex;
        color: #e0dfdf;
    }

    .main-nav {
        display: none;
        flex-direction: column;
        background-color: #8683835b;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px 0;
    }

    .main-nav.active {
        display: flex;
    }

    .main-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .main-nav ul li {
        margin: 10px 0;
    }
}

.hero {
    background-image: url('Image/Hero.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: white;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

}


/* MODAL */
.modal {
    position: fixed;
    height: 80%;
    width: 80%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 100;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    display: none;
}
.modal .car-card {
    grid-template-columns: 1fr 1fr;
    padding: 2rem 3rem;
}
.modal .car-card .about-car {
    color: #312c31d3;
    line-height: 1.5; 
    font-weight: bold; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    padding: 10px;
    border: 2px solid #b53ab9d3; 
    border-radius: 5px; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    font-size: small;
  
}
.modal h2 {
    padding-block: 1rem ;
    text-align: center;
    grid-column: 1/3;
}   

@media screen and (max-width: 768px) {
    .modal {
        height: 90%;
        width: 90%;
    }
    .modal .car-card {
        padding: 1rem;
    }
    .modal .car-card .about-car {
        text-align: center;
        font-size: smaller;
    }
    .modal h2 {
        font-size: medium;
    }
}

/* Style for the close button */
.close-button {
    background-color: transparent;
    border: none;
    color: #333; 
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%; 
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Change button color on hover */
.close-button:hover {
    background-color: #ff0000; 
    color: #fff; 
}

/* Style for the container */
.container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #e0dfdf;
    border: 1px solid #a0a0a0; 
    border-radius: 20px; 
}




/* Style the car features list */
.car-features {
    padding: 2rem;
    background-image: url('Image/bg.jpg');
    background-size: cover;
    background-position: center;

    text-align: center;
    justify-content: center;
    color: #fff;

}
/* Style for the heading */
.car-features h2 {
    background-color: rgb(175,175,175);
    color: #000;
    font-weight: 1000;
    padding-block: 1rem;
    font-size: 24px; 
    margin-bottom: 1rem;
}

/* Style the list items */
.car-features ul {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.car-features li {
    flex-basis: 400px;
    min-width: 250px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Style the video */
.car-features video {
    width: 100%; 
    height: 100%; 
    border: 2px solid #333;
}

/* Style the feature text */
.car-features span {
    font-size: 18px;
    background-color: rgba(175,175,175,0.6);
    color: black;
    padding-block: 1rem;
}
/* Styling for the container */
#models.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f5f5f5; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
}

/* Styling for the section title */
.services .section-title {
    font-size: 24px; 
    color: #333; 
}

/* Styling for the gallery container */
.services .gallery-container {
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: center;
}

/* Styling for each gallery item */
.services .gallery {
    width: 150px; 
    padding: 10px; 
    text-align: center; 
    border: 1px solid #ddd; 
    margin-right: 10px; 
    transition: background-color 0.3s, transform 0.3s; 
}

/* Styling for the service images */
.services .gallery img {
    width: 100%; 
    max-width: 100%; 
    height: auto;
    border-radius: 10px;
}

/* Styling for service titles */
.services .service-title {
    font-size: 16px; 
    color: #333; 
    margin-top: 10px; 
}

/* Styling for service descriptions */
.services .service-description {
    font-size: 14px; 
    color: #dfd9d9d2; 
}

/* Hover effect for gallery items */
.services .gallery:hover {
    background-color: #ffffffbb; 
    transform: scale(1.1); 
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .services .gallery-container {
        flex-wrap: wrap; 
        justify-content: flex-start; 
        overflow-x: hidden; 
    }
    .services .gallery {
        margin-right: 0; 
        margin-bottom: 10px; 
    }
}

/* Style for the slideshow container */
.slideshow-container {
    display: flex;
    align-items: center; 
    overflow: hidden; 
    max-width: 100%;
    position: relative; 
}


.car-card {
    max-width: 100%; 
}

/* Style the images to fit within their containers */
.slideshow-image {
    max-width: 100%; 
    height: auto; 
    display: block; 
}


/* Style the information container */
.car-card {
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

/* Style the information text */
.car-card h2 {
    font-size: 18px; 
    margin-bottom: 10px;
}

.car-card p {
    font-size: 14px; 
}

/* Style the left and right navigation buttons */
.left-button,
.right-button {
    background-color: rgba(27, 27, 27, 0.836);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%); 
}

.left-button {
    left: 10px; 
}

.right-button {
    right: 10px; 
}


/* Style for carousel navigation buttons */
.carousel-button {
    background-color: transparent;
    border: none;
    font-size: 36px;
    cursor: pointer;
    outline: none;
    color: rgb(255, 30, 0);
}
/* Contact Section */
.contact {
    background-color: #f5f5f5;
    padding: 40px;
    text-align: center;
}

.contact h2 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
}

.contact a {
    display: block;
    color: #ff5733;
    font-size: 24px;
    margin-bottom: 15px;
    text-decoration: none;
}

/* Footer Section */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 18px;
    margin: 0;
}

/* Responsive CSS for Mobile */
@media screen and (max-width: 768px) {
    .contact {
        padding: 20px;
    }

    .contact h2 {
        font-size: 24px;
    }

    .contact p {
        font-size: 16px;
    }

    .contact a {
        font-size: 20px;
    }

    footer {
        padding: 10px;
    }

    footer p {
        font-size: 14px;
    }
    
}

/* Your CSS styles here */
h4 {
    font-size: larger;
    text-align: center;
}
section {
    text-align: center;
    margin: 20px;
    background-color: #ffffff;
}
ul {
    list-style-type: none;
}
li {
    display: flex;
    align-items: center;
    margin: 10px;
}
img {
    max-width: 50%; 
    margin-right: 10px;
}
.image-container {
    display: flex;
    align-items: center;
}

.horizontal-list {
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
    li {
        flex-direction: column; 
        align-items: center; 
    }
    img {
        margin-right: 0;
    }
}






